.bookio-text {
  font-weight: 700;
}
.logo {
  text-decoration: none;
}

.sign-up:hover {
  opacity: 0.6;
}

.userdetails {
  background-color: transparent;
  border-color: #0079d3;
  color: #0079d3;
  fill: #0079d3;
  border: 1px solid;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 24px;
  text-transform: uppercase;
  padding: 3px 16px;
  opacity: 1;
  border: 0px;
}

.account-icon {
  border-radius: 4px;
  float: left;
  margin-right: 5px;
  max-height: 24px;
  max-width: 24px;
}

@media screen and (max-width: 992px) {
  .navbar {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .bookio-text {
    font-size: large;
  }

  .navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
